.formBox {
  width: 600px;
}
.controlLable {
  text-align: left;
  font-size: 20px;
}
.myCoolsHeader {
  display: inline-flex;
  margin-bottom: 2vw;
}
.addCoolButton {
  margin-left: 10vw;
}
.closeButton {
  float: right
}
.saveButton {
  float: right
}