.formBox {
  width: 600px;
}
.controlLable {
  text-align: left;
  font-size: 20px;
}
.addCoolButton {
  width: 200px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 26px;
}
.closeButton {
  float: right;
  margin-right:5px;
  margin-top: -30px;
}
.saveButton {
  float: right;
  margin-top: -30px;
}
