.thumbnail {
  border-radius: 8px;
  width: 200px;
  background-color: var(--secondary-color);
  margin-bottom: 12px;
}
h3, p {
  margin: 0;
}
.thumbnail .caption {
  padding: 0;
}
.imageCardTitle {
  color: var(--text-color);
}
.imageCardUser {
  color: var(--text-color);
}
.left {
  color: var(--text-color);
  margin-left:12px;
}
.right {
  color: var(--text-color);
  margin-left:40px;
}
.date {
  margin-left: 40px;
  color: var(--text-color);
}
.imageCard {
  width:200px;
  color: var(--text-color);
}
.info {
  display: flex;
  width: 100%;
  color: var(--text-color);
}