.thumbnail {
  border-radius: 8px;
  width: 200px;
}
h3, p {
  margin: 0;
}
.thumbnail .caption {
  padding: 0;
}
.left {
  color:black;
  margin-left:12px;
}
.right {
  color:black;
  margin-left:40px;
}
.date {
  margin-left: 40px;
}
.imageCard {
  width:200px;
}
.info {
  display: flex;
  width: 100%;
}